<app-nav>
</app-nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="example-form" [formGroup]="WpForm" (ngSubmit)="onWpSubmit()">
        <md-input-container class="example-full-width">
          <input mdInput placeholder="WP-url" formControlName="WP">
        </md-input-container>
        <button md-raised-button type="submit">GET </button>
      </form>
    </div>
    <div class="col-sm-6">
      Result:
      <hr> Title: <span>{{title_html}} </span>
      <br> Version: <a routerLink='/version/{{version_html | deletedots}}'><span>{{version_html}} </span></a>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-sm-6">
      Plugin:
      <hr>
      <ul *ngFor="let plugin of plugins">
        <li>{{plugin}}</li>
      </ul>
    </div>
    <div class="col-sm-6">
      Theme:
      <hr>
      <ul *ngFor="let theme of themes">
        <li>{{theme}}</li>
      </ul>
    </div>
  </div>
