<app-nav>
</app-nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="inline">
        <form class="inline" [formGroup]="WpForm" (ngSubmit)="onWpSubmit()">
          <md-input-container class="example-full-width">
            <input mdInput placeholder="WP-url" formControlName="WP">
          </md-input-container>
          <button md-raised-button type="submit">GET</button>
          <button md-raised-button  type="button" (click)="empty()"><i class="zmdi zmdi-search"></i> New scan</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="chklist">
      <h4 class="text-center">Result:</h4>
      <hr> Title: <span>{{title_html}} </span>
      <br> Version: <a routerLink='/version/{{version_html | deletedots}}'><span>{{version_html}} </span></a>
    </div>
  </div>
  <md-progress-bar class="mt-50" [hidden]="hideElement" mode="indeterminate" *ngIf="chklist?.length < 1"></md-progress-bar>
  <div class="row mt-30">
    <div class="col-sm-12" *ngIf="chklist">
      <h4 class="text-center">Check:</h4>
      <hr>
      <ul *ngFor="let chk of chklist">
        <li *ngIf="chk[0] == 'ok'"> <i class="zmdi zmdi-badge-check"></i> {{chk[1]}}</li>
        <li *ngIf="chk[0] == 'info'"> <i class="zmdi zmdi-alert-triangle"></i> {{chk[1] }}</li>
        <li *ngIf="chk[0] == 'warn'"> <i class="zmdi zmdi-alert-circle"></i> {{chk[1] }}</li>
      </ul>
    </div>
  </div>
  <div class="row mt-30" *ngIf="chklist">
    <div class="col-sm-1">
      <h4 class="invisible">invisible</h4>
      <hr class="invisible">
      <ul *ngFor="let plug of plugins_result1">
        <div [hidden]="!hideSpinner">
          <ng-template [ngIf]="plug !== 404"><i class="zmdi zmdi-check"></i></ng-template>
          <ng-template [ngIf]="plug === 404"><i class="zmdi zmdi-close"></i></ng-template>
        </div>
        <md-progress-spinner class="px25" mode="indeterminate" [hidden]="hideSpinner">
        </md-progress-spinner>
      </ul>
    </div>
    <div class="col-sm-5">
      <h4 class="text-center">Plugin:</h4>
      <hr>
      <div *ngFor="let plugin of plugins">
        <p><a routerLink='/plugin/{{plugin}}'>{{plugin}}</a></p>
      </div>
    </div>
    <div class="col-sm-1">
      <h4 class="invisible">invisible</h4>
      <hr class="invisible">
      <ul *ngFor="let them of theme_result1">
        <div [hidden]="!hideSpinner">
          <ng-template [ngIf]="them !== 404"><i class="zmdi zmdi-check"></i></ng-template>
          <ng-template [ngIf]="them === 404"><i class="zmdi zmdi-close"></i></ng-template>
        </div>
        <md-progress-spinner class="px25" mode="indeterminate" [hidden]="hideSpinner">
        </md-progress-spinner>
      </ul>
    </div>
    <div class="col-sm-5">
      <h4 class="text-center"> Theme:</h4>
      <hr>
      <div *ngFor="let theme of themes">
        <p><a routerLink='/theme/{{theme}}'>{{theme }}</a></p>
      </div>
    </div>
  </div>
</div>
