<app-nav>
</app-nav>
<div class="container">
  <div class="text-center">
    <h3 id="AUTHBYPASS">AUTHBYPASS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptatibus sequi labore recusandae qui, odio aut,
      vel esse perferendis eos dolores eum porro, quas. Magni perspiciatis quisquam accusantium quae vitae!</p>
    <hr>
    <h3 id="BYPASS">BYPASS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dolore nobis maiores consectetur. Tenetur veniam illum
      rerum, fugiat placeat praesentium cum. Adipisci illum accusamus architecto sint numquam eum optio, tempora!</p>
    <hr>
    <h3 id="CSRF">CSRF</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ex odio cum hic quae molestias dolorum, praesentium
      quod, voluptates amet, voluptas culpa! Sequi magnam sunt nesciunt eveniet in itaque provident!</p>
    <hr>
    <h3 id="DOS">DOS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repudiandae dignissimos similique ex ratione aspernatur
      eligendi suscipit provident et consequuntur, eaque pariatur placeat sit ipsam eum, atque laborum, incidunt dolor?</p>
    <hr>
    <h3 id="FPD">FPD</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur pariatur, harum at, nihil fugit dolor qui tempore,
      recusandae ab accusamus distinctio officiis ut magnam vel atque quaerat, nobis? Optio, ex!</p>
    <hr>
    <h3 id="LFI">LFI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dignissimos nulla placeat consequuntur, hic odit
      fuga doloremque eum at culpa similique soluta unde laboriosam, sunt iure, quis a quae necessitatibus!</p>
    <hr>
    <h3 id="MULTI">MULTI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum fuga hic pariatur libero at cupiditate error corporis alias?
      Expedita, rerum, ab. Iusto reiciendis nihil doloremque tempore omnis delectus, praesentium quod!</p>
    <hr>
    <h3 id="PRIVESC">PRIVESC</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos placeat earum dolor incidunt perspiciatis inventore. Quis
      dolor, nostrum voluptatum eveniet sit. Molestiae odio quibusdam repellat necessitatibus eaque sed ipsam neque.</p>
    <hr>
    <h3 id="RCE">RCE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero enim obcaecati ducimus. Animi voluptatem iusto repudiandae
      explicabo laborum deserunt, nemo tenetur suscipit, ab odio, nihil cupiditate id ipsum placeat quasi.</p>
    <hr>
    <h3 id="REDIRECT">REDIRECT</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, laudantium tempore tempora, maxime autem rem soluta temporibus
      eos voluptates nam. Error, illo nesciunt minima possimus laborum nisi soluta maxime est.</p>
    <hr>
    <h3 id="RFI">RFI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum fugiat amet vel aut quae cumque mollitia, maiores natus
      at accusamus eaque, dicta sint repellat. Dolorem laudantium, officiis porro esse eius?</p>
    <hr>
    <h3 id="SQLI">SQLI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda laborum deleniti sint eum magnam excepturi pariatur
      adipisci quos error? Dignissimos quasi autem nulla dicta incidunt accusamus reprehenderit maiores ipsam?</p>
    <hr>
    <h3 id="SSRF">SSRF</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, veritatis, temporibus. Earum cupiditate amet placeat
      eos veritatis autem quibusdam, nesciunt possimus sed et consequuntur quod laudantium omnis ipsam, accusantium pariatur.</p>
    <hr>
    <h3 id="UNKNOWN">UNKNOWN</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, provident corporis ut. Doloremque dolor vitae, non ipsum
      nulla numquam! Facere minus aperiam ab ut voluptas quasi quia in nostrum quisquam.</p>
    <hr>
    <h3 id="UPLOAD">UPLOAD</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut praesentium dicta maiores quas modi officia rerum, earum,
      expedita rem excepturi quod recusandae vitae fuga doloremque. Velit repellat aliquam magni ullam!</p>
    <hr>
    <h3 id="XSS">XSS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque totam quia possimus tenetur quam expedita quod corporis
      esse, cupiditate. Eligendi unde quisquam eum dignissimos minima. Similique maiores, quaerat consequatur! Voluptatem.</p>
    <hr>
    <h3 id="XXE">XXE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aliquid, perferendis mollitia quia sequi quaerat vel
      a omnis veniam modi facere repellendus dolorum autem ullam dolore id amet rerum doloremque.</p>
  </div>
</div>
