<app-nav>
</app-nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6  m-15">
      <form class="example-form" [formGroup]="versionForm" (ngSubmit)="onVersionubmit()">
        <md-select placeholder="Select Version" formControlName="version" name="version">
          <md-option *ngFor="let vers of version" [value]="vers.value">
            {{vers.viewValue}}
          </md-option>
        </md-select>
        <button md-raised-button type="submit">GET VERSION</button>
      </form>
    </div>
    <div class="col-sm-6  m-15 ">
      <div *ngIf="vulnerabilities?.length > 0">
        ChangeLog <span><a href="{{changelog_url}}">{{changelog_url}}</a></span>
        <br> Release Date <span>{{release_date | date}}</span>
        <hr>
      </div>
    </div>
  </div>
  <h1 class="text-center">{{errorMsg}}</h1>
</div>
<div class="container-fluid">
  <table *ngIf="vulnerabilities?.length > 0" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>VulnType</th>
        <th>References</th>
        <th>Created At</th>
        <th>FixedIn</th>
        <th>Updated At</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vulner of vulnerabilities">
        <td>{{vulner.title}}</td>
        <td>{{vulner.vuln_type}}</td>
        <span class="span-td" *ngFor="let link of vulner.references.url"><a href="{{link}}"  target="_blank">link </a></span>

        <td>
          {{vulner.created_at | date}}</td>
        <td>
          {{vulner.fixed_in }}</td>
        <td>
          {{vulner.updated_at | date}}</td>
        <td>{{vulner.published_date | date}}</td>
    </tbody>
  </table>
</div>
